.paymentDetailsWrapper{
    align-items: center;
    border-radius: 9px;
    display:flex;
    gap:1rem;
    justify-content: center;
    padding:1.5rem;
}
.productDetailsWrapper{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap:2rem;
    text-align: center;
    width:100%;
}
.productName{
    font-weight: 500;
}
.productImage{
    display:flex;
    justify-content: center;
    width:100%;
}
.productImage img{
    height:100%;
    width:100%;
}
@media (min-width:240px) and (max-width:900px){
    .paymentDetailsWrapper{
        flex-direction: column;
    }
}