.paymentFormWrapper{
    display:flex;
    flex-direction: column;
    gap:2rem;
    width:100%;
}
.addressFormWrapper{
    border:1px solid var(--purple-primary);
    border-radius: 9px;
    display:grid;
    gap:1rem;
    grid-template-columns: repeat(1fr);  
    padding:1rem;  
    width:100%;
}
.paymentFormButton{
    border:none;
    border-radius: 9px;
    background:var(--purple-secondary);
    color:var(--white-primary);
    cursor:pointer;
    padding:0.5rem;
    width:100%;
}
.addressFormWrapper label{
    font-weight: 350;
}
.addressFormWrapper input{
    width:60%;
}
.addressFormWrapper div{
    align-items: center;
    display:flex;
    justify-content: space-between;
    width:100%;
}
.paymentLoaderWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width:100%;
}
.paymentLoaderSpinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--box-shadow);
    border-right-color: var(--purple-secondary);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}

  @media (min-width:240px) and (max-width:900px){
    .addressFormWrapper div{
        align-items: flex-start;
        flex-direction: column;
        gap:0.5rem;
    }
    .addressFormWrapper input{
        width:100%;
    }
  }