.paymentLoaderWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width:100%;
}
.paymentLoaderSpinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--box-shadow);
    border-right-color: var(--purple-secondary);
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}